.navbar-brand img
    {
        border-radius:25px;


    }
.navbar{
       background-color:#C84B31;
       padding-left: 0px;
       padding-right: 0px;
     }
.nav
    {
       margin-left: 1100px;
     }
    .navbar ul li a
    {
        padding:8px;
        padding-bottom: 35px;
        color: grey;
        font-size: 18px;
        text-decoration: none;
        


    }
    .navbar ul li{
        text-decoration:none;
    }
.navbar ul li a:hover
    {
        color:#dc3545;
    }
.navbar b
{
    color: #EDF6E5;
}
.navbar-brand
{
    padding-left: 30px;
}
.main-div
{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}
.login-form
{
    text-align: center;
    border:2px solid grey;
    background-color: yellow;
    height: 800px;
    background-image: url("images/loginimage.jpg");


}
.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.login-form .form-group {
    margin-bottom: 10px;
}
.checkbox
{
    margin-right: 0px;
    padding-top: 10px;
}
.submit
{
    margin-left: 350px;

}
.signup
{
    margin-top: 20px;
}

.login-form .btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.main-div
{
    margin-top: 30px;
    background-color: #C84B31;

}
.login-form .heading
{
    margin-top:20px;

}
.heading h1
{
    font-size: 54px;
}
.heading p
{
    font-size: 22px;
}
.input-group
{
margin-bottom: 10px;
}